<p id="notice"><%= notice %></p>
<div class="card">
  <h3>
    <div class="card-header">
      <%= @article.title %>
    </div>
  </h3>
  <div class="card-block">
    <p class="card-text article-content">
      <%= @markdown.render(@article.body).html_safe %>
    </p>
  </div>
</div>
<div id="comments">
  <%= render @article.comments %>
  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
</div>

<div class="text-xs-right">
  <%= link_to 'Edit', edit_article_path(@article), :class=>"btn btn-warning "%>
  <%= link_to 'Back', articles_path, :class=>"btn btn-link" %>
</div>