<!DOCTYPE html>
<html>
  <head>
    <title>KeyNote</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
   <link rel="icon" type="image/png" href="/assets/icon.png"">
  </head>
 
  <body>
      <div class="nav custom_nav custom">
        <div class="wrapper">
          <div id="logo">
            <%= link_to 'KeyNote', root_path %>
          </div>
          <div id="buttons">
            <%= link_to 'New Article', new_article_path %>
          </div>
        </div>
      </div>
        <div class="nav navbar-nav wrapper">
          <%= form_tag search_articles_path, method: :get, class: "navbar-form ", role: "search" do %>
            <div class="input-group">
              <div class="row">
                <div class="col-xs-10">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Coder School" %>
                </div>
                <div class="col-xs-2">
                  <%= button_tag(type:'submit', name: nil, class: "btn btn-default", style: "float: left") do %>
                    Search <i class="fa fa-search" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
</html>
